#
# Copy and rename this file to .env at root of this project.
#

# A common use case is to supply database creds via the environment. Edit settings.php
# like so:
#
# $databases['default']['default'] = [
#   'database' => getenv('MYSQL_DATABASE'),
#   'driver' => 'mysql',
#   'host' => getenv('MYSQL_HOSTNAME'),
#   'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
#   'password' => getenv('MYSQL_PASSWORD'),
#   'port' => getenv('MYSQL_PORT'),
#   'prefix' => '',
#   'username' => getenv('MYSQL_USER'),
# ];
#
# Uncomment and populate as needed.
# MYSQL_DATABASE=
# MYSQL_HOSTNAME=
# MYSQL_PASSWORD=
# MYSQL_PORT=
# MYSQL_USER=

# Another common use case is to set Drush's --uri via environment.
# DRUSH_OPTIONS_URI=http://example.com




# switch environment: 'local' or 'prod'
APP_ENV='local'

# local environment database credentials
local_DB_HOST='localhost'
local_DB_DATABASE='xyz'
local_DB_USER='xyz'
local_DB_PASS='xyz'
local_DB_PREFIX=''
local_DB_PORT='3306'
local_DB_NAMESPACE='Drupal\\Core\\Database\\Driver\\mysql'
local_DB_DRIVER='mysql'

# production environment database credentials
prod_DB_HOST='localhost'
prod_DB_DATABASE='xyz'
prod_DB_USER='xyz'
prod_DB_PASS='xyz'
prod_DB_PREFIX=''
prod_DB_PORT='3306'
prod_DB_NAMESPACE='Drupal\\Core\\Database\\Driver\\mysql'
prod_DB_DRIVER='mysql'
